This script makes sure the orignal homogenous system input data, contains 168 hours. It selects the 168 first hours.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import os

## Demand_data.csv

In [3]:
cd = os.getcwd()
extra_path_D = 'Demand_data.csv'
path_demand = os.path.join(cd, extra_path_D)
df_demand = pd.read_csv(path_demand)
display(df_demand)

,Voll,Demand_Segment,Cost_of_Demand_Curtailment_per_MW,Max_Demand_Curtailment,$/MWh,Rep_Periods,Timesteps_per_Rep_Period,Sub_Weights,Time_Index,Demand_MW_z1,Demand_MW_z2,Demand_MW_z3
0,50000.0,1.0,1.00,1.000,2000.0,1.0,168.0,168.0,1,7850,2242,1070
1,NaN,2.0,0.90,0.040,1800.0,NaN,NaN,NaN,2,7424,2120,1012
2,NaN,3.0,0.55,0.024,1100.0,NaN,NaN,NaN,3,7107,2029,969
3,NaN,4.0,0.20,0.003,400.0,NaN,NaN,NaN,4,6947,1984,947
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,6922,1977,944
...,...,...,...,...,...,...,...,...,...,...,...,...
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164,9950,2842,1357
164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,165,9638,2752,1314
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,166,9187,2624,1252
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,167,8597,2455,1172
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168,7948,2270,1084

In [4]:
df_demand_h_week = df_demand.iloc[0:168]
display(df_demand_h_week)

,Voll,Demand_Segment,Cost_of_Demand_Curtailment_per_MW,Max_Demand_Curtailment,$/MWh,Rep_Periods,Timesteps_per_Rep_Period,Sub_Weights,Time_Index,Demand_MW_z1,Demand_MW_z2,Demand_MW_z3
0,50000.0,1.0,1.00,1.000,2000.0,1.0,168.0,168.0,1,7850,2242,1070
1,NaN,2.0,0.90,0.040,1800.0,NaN,NaN,NaN,2,7424,2120,1012
2,NaN,3.0,0.55,0.024,1100.0,NaN,NaN,NaN,3,7107,2029,969
3,NaN,4.0,0.20,0.003,400.0,NaN,NaN,NaN,4,6947,1984,947
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,6922,1977,944
...,...,...,...,...,...,...,...,...,...,...,...,...
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164,9950,2842,1357
164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,165,9638,2752,1314
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,166,9187,2624,1252
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,167,8597,2455,1172
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168,7948,2270,1084

In [5]:
df_demand_h_week.to_csv(path_demand, index = False)

In [6]:
df_demand_h_week.at[0, 'Timesteps_per_Rep_Period'] = 168
df_demand_h_week.at[0, 'Sub_Weights'] = 168
df_demand_h_week.to_csv(path_demand, index = False)

## Fuels_data.csv

In [7]:
cd = os.getcwd()
extra_path_Fd = 'Fuels_data.csv'
path_fuel = os.path.join(cd, extra_path_Fd)
df_fuel = pd.read_csv(path_fuel)
df_fuel_week = df_fuel.iloc[0:168]
df_fuel_week.to_csv(path_fuel, index = False)

In [8]:
df_fuel_week= df_fuel.iloc[0:169]
df_fuel_week.to_csv(path_fuel, index = False)

## Generators_variability.csv

In [9]:
cd = os.getcwd()
extra_path_Gv = 'Generators_variability.csv'
path_Gv = os.path.join(cd, extra_path_Gv)
df_Gv = pd.read_csv(path_Gv)
df_Gv_week = df_Gv.iloc[0:168]
df_Gv_week.to_csv(path_Gv, index = False)